
/*used one time for separate tag*/
/*used one time for separate tag*/
body{
    font-family: 'Noto Sans JP', sans-serif;
    padding:0px;
}

section{
    height:600px;
}

.user-discription{
    background-image:url(images/header-bg.png);
    background-repeat:no-repeat;  
    background-size:cover; 
}

.half-width{
    width:40%;
    height:40%;
    float:left;
    margin-left:5%;
    padding:2%;
}


h2{
    font-size:35px;               
}

h1{
    
    font-size:60px;
    padding:0px;
    margin:0px;

}
/*used one time for separate tag*/
/*used one time for separate tag*/






/*starting of user discription*/
/*starting of user discription*/
.name-color{
    color:#EC4C7A;
}

.half-width p{
    color:#707070;
    font-size:15px;
    text-align:justify;
}

.half-width a{
    text-decoration:none;
    background-image: linear-gradient(45deg, #EC5197, #ED4B6E);
    padding:5px 20px;
    color:white;
    border-radius:5px;
    font-size:14px;
}

.half-width img{
    width:100%;
}
/*Eanding of user discription*/
/*Eanding of user discription*/






/*starting of biography-section*/
/*starting of biography-section*/
.biography-section{
   background-image:url(
       images/biography-bg.png
   );
   background-size:cover;
   margin-bottom:5%;
}

.latest-work h2{
    text-align:center;
    margin-bottom:5%
}
/*Ending of biography-section*/
/*Ending of biography-section*/






/*Starting of latest-work*/
/*Starting of latest-work*/
.latest-work{
    background-image:url(images/latest-work-bg.png);
    background-size:cover;
    height:400px;
}

.works-maindiv{
    width:90%;
    margin:0 auto;
    height:300px;
}

.project{
    width:26.6666667%;
    float:left;
    margin-left:5%;
    
}

.project img{
    width:100%;
}
/*Eanding of latest-work*/
/*Eanding of latest-work*/






/*Starting of footer*/
/*Starting of footer*/
.footer{
    background-image:url(images/footer-bg.png);
    background-size:cover;
    text-align:center;
}

h3{
  margin:0px;
}

.clients-massage{
    margin-top:5%;
    margin-bottom:5%;
 }

.footer p{
    margin:0px;
    font-size:12px; 
}

.massage-box{
    width: 50%;
    height:150px;
    background-color: #EC4C79;
    border-radius:10px;
    margin:5% auto;
    color:white;
    background-image: linear-gradient(45deg, #EC5197, #ED4B6E);
    margin-bottom:8%;
}

.massage-box p{
    padding:5% 0% 2% 0%;
    font-size:16px;
}

.massage-box a{
    text-decoration:none;
    color:white;
    font-weight: bold;
    font-size:25px;  
}
.copyright{
    color:#070707;
    font-size:15px;
   
}
/*Eanding of footer*/
/*Eanding of footer*/
